body{
    background-color: black;
    color: white;
}

.navbarg {
    align-items: center;
    display: inline-flex;
    flex-grow: 1;
    gap: 18px;
    justify-content:;
    position: relative;
    --tw-bg-opacity: 1;
    background-color: #09ac00;
}

.info {
    position: flex;
    margin-left: 500px;

}

.logo {
    backface-visibility: hidden;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    position: relative;
    transition: all .5s;
    width: 100% padding:10%;
}

.inlog-image{
    width: 100px;
    height: 100px;
}

button{
    margin-left: 16px;
}
