body {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    background-color: black;
    color: rgb(239, 239, 239);
}


p {
    padding: 10px;
    text-align: left;
}

.navbarg {
    align-items: center;
    display: inline-flex;
    flex-grow: 1;
    gap: 18px;
    justify-content: space-between;
    position: relative;
    --tw-bg-opacity: 1;
    background-color: #09ac00;
}

.info {
    display: flex;
    margin-left: 500px;

}

.logo {
    backface-visibility: hidden;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    position: relative;
    transition: all .5s;
    width: 100%;
    padding: 10%;
}

.inlog-image{
    width: 100px;
    height: 100px;
}

button{
    margin-left: 16px;
}

.sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.keuzesec {
    margin-left: 100px;
}

.regels {
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.regelssec {
    display: flex;
    align-items: center;
    position: absolute;
    top: 160px;
    right: 100px;
}
